.appButton {
  width: 200px;
  height: 124px;
  align-self: center;
  font-size: 1.875rem;
}

.listenButton {
  width: 200px;
  height: 80px;
  align-self: center;
}

/*font size doesn't apply, fix it later*/